! ░█ █░ 
! ▓▒▒▓ █▒██▒ ███ ▒███▒ ███ █ █ █▒██▒ ▓██▒ ███ ▒███▒ 
! ██ ██ █ ▓▓ ▒█ █▒ ░█ █▓ ▓█ █ █ ██ █ ▓█ ▓ ▓▓ ▒█ █▒ ░█
! ██ █ █ █ █▒░ █ █ █ █ █ █░ █ █ █▒░ 
! ▒██░ █ █████ ░███▒ █ █ █ █ █ █ █████ ░███▒ 
! █▒▒█ █ █ ▒█ █ █ █ █ █ █░ █ ▒█ 
! ▒█ █░ █ ▓▓ █ █░ ▒█ █▓ ▓█ █▒ ▓█ █ ▓█ ▓ ▓▓ █ █░ ▒█ 
! █▒ ▒█ █ ███▒ ▒███▒ ███ ▒██▒█ █ ▓██▒ ███▒ ▒███▒ 
 

!-----------------------------------------------------------------------
! Xft settings
! path: ~/
!-----------------------------------------------------------------------

Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 0
Xft:hintstyle: hintnone
Xft.lcdfilter: lcddefault


!-----------------------------------------------------------------------
! URxvt settings 
!-----------------------------------------------------------------------

URxvt.internalBorder: 10
URxvt.externalBorder: 0
URxvt.lineSpace: 2
urxvt*shading: 30
URxvt.depth: 32
URxvt.saveLines: 10000
URxvt*geometry: 96x30
!URxvt*terminalName: rxvt-unicode-256color
URxvt*visualBell: false

!! Scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!! Fonts
!URxvt.font:	xft:White Rabbit:regular:size=12
!URxvt.boldFont: xft:White Rabbit:bold:size=12
URxvt.font:	xft:Ubuntu Mono:regular:size=14
URxvt.boldMode: true
URxvt.letterSpace: 0

!! Keybinding
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

!Home and End keys to jump to the beginning and end of lines
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

!! Tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true

!! Copy/Paste and URl handling
! url-select (part of urxvt-perls package)
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select,font-size
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: True 
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.url-select.autocopy: true
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Cursor
Xcursor.theme: Adwait

URxvt.transparent: true
URxvt.shading: 20

!! Rofi
rofi.color-window: argb:FF1d1f21,argb:FF1d1f21,argb:FF1d1f21
rofi.color-normal: argb:FF1d1f21, #f0f0f0,argb:FF1d1f21 ,argb:FF1d1f21 , argb:FF1d1f21
rofi.color-urgent: argb:FF1d1f21, argb:FF1d1f21,argb:FF1d1f21 ,argb:FF1d1f21 , argb:FF1d1f21
rofi.color-active: argb:FF1d1f21, argb:FF1d1f21,argb:FF1d1f21 ,argb:FF1d1f21 , argb:FF1d1f21
rofi.width: 50
rofi.lines: 5
rofi.columns: 1
rofi.font: Xolonium 15
rofi.bw: 0
rofi.padding: 10
rofi.eh: 1
!rofi.separator-style: solid
rofi.hide-scrollbar: true
