! Xft settings
!-----------------------------------------------------------------------
Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 0
Xft:hintstyle: hintnone
Xft.lcdfilter: lcddefault

! URxvt settings 
!-----------------------------------------------------------------------
URxvt.internalBorder: 8
URxvt.externalBorder: 0
URxvt.saveLines: 10000
URxvt*geometry: 96x30
URxvt*visualBell: flase

!! Scrollbar
URxvt.scrollBar: false

!! Fonts
URxvt.font: xft:DejaVu Sans Mono:regular:size=11
URxvt.boldMode: true
URxvt.letterSpace: 0

!! Keybinding
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

!! Copy/Paste and URl handling
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select,font-size
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: True 
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.url-select.autocopy: true
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1

!! Background transparency
URxvt.transparent: true
URxvt.shading: 20

!! Rofi
rofi.font: xft:DejaVu Sans Mono:regular:size=24
rofi.hide-scrollbar: true
rofi.padding: 10
rofi.width: 25
rofi.lines: 3
rofi.eh: 1
rofi.bw: 0
